server:
  port: 9090
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?useSSL=true&characterEncoding=utf-8&serverTimezone=UTC
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.spatial.dialect.postgis.PostgisDialect
  servlet:
    multipart:
      max-file-size: 1024MB
      max-request-size: 1024MB
  resources:
    static-locations: classpath:static/

